# Project files
.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
*.DS_Store
.vscode

# Processing results files
*.fastq
old.tar.gz
quant.sf
quant.sf.gz
*.rds
*/PRJNA*/quants
*/PRJNA*/results
appdata/
analysis/data
analysis/results
analysis/scripts/special-request-for-ciril.R
resources/
